<p id="notice"><%= notice %></p>

<h1>Owner Report</h1>

    <% @owners.kept.each do |owner| %>
        <h2><%= owner.first_name + " " + owner.last_name%></h2>
        <h3>Dogs</h3>
        <table>
            <thead>
                <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Color</th>
                <th>Weight</th>
                </tr>
            </thead>

            <tbody>
                <% owner.dogs.kept.each do |dog| %>
                    <td><%= dog.name %></td>
                    <td><%= dog.age %></td>
                    <td><%= dog.color %></td>
                    <td><%= dog.weight %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    <% end %>

<br>