<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @owner.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @owner.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @owner.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @owner.phone_number %>
</p>

<p>
  <strong>Discarded at:</strong>
  <%= @owner.discarded_at %>
</p>

<h3>Dogs</h3>
  <table>
      <thead>
          <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Color</th>
          <th>Weight</th>
          </tr>
      </thead>

      <tbody>
          <% @owner.dogs.each do |dog| %>
            <% if dog.discarded? %>
              <tr class="deleted">
            <% else %>
              <tr>
            <% end %>
                <td><%= dog.name %></td>
                <td><%= dog.age %></td>
                <td><%= dog.color %></td>
                <td><%= dog.weight %></td>
            </tr>
          <% end %>
      </tbody>
  </table>


<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
