<p id="notice"><%= notice %></p>

<h1>Dogs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Color</th>
      <th>Weight</th>
      <th>Owner</th>
      <th>Discarded at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dogs.each do |dog| %>
      <% if dog.discarded? %>
        <tr class="deleted">
      <% else %>
        <tr>
      <% end %>
        <td><%= dog.name %></td>
        <td><%= dog.age %></td>
        <td><%= dog.color %></td>
        <td><%= dog.weight %></td>
        <td><%= link_to dog.owner.first_name + " " + dog.owner.last_name, owner_path(dog.owner_id) %></td>
        <td><%= dog.discarded_at %></td>
        <td><%= link_to 'Show', dog %></td>
        <td><%= link_to 'Edit', edit_dog_path(dog) %></td>
        <td><%= link_to 'Destroy', dog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>Deleted entries are shown with a <span class="deleted">red background.</span></p>

<br>

<%= link_to 'New Dog', new_dog_path %>
