<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dog.name %>
</p>
<p>
  <strong>Owner Name:</strong>
  <%= @dog.owner.first_name %> <%= @dog.owner.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @dog.age %>
</p>

<p>
  <strong>Color:</strong>
  <%= @dog.color %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @dog.weight %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @dog.owner_id %>
</p>

<p>
  <strong>Discarded at:</strong>
  <%= @dog.discarded_at %>
</p>

<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'Back', dogs_path %>
