<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @meal.brand %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @meal.quantity %>
</p>

<p>
  <strong>Finished:</strong>
  <%= @meal.finished %>
</p>

<p>
  <strong>Finished on:</strong>
  <%= @meal.finished_on %>
</p>

<p>
  <strong>Dog:</strong>
  <%= @meal.dog_id %>
</p>

<p>
  <strong>Discarded at:</strong>
  <%= @meal.discarded_at %>
</p>

<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
